{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<section class="section_accueil">
		<div class="welcome">
			<h1>Bienvenue sur<strong> My Cave</strong></h1>
			<p>Gérez facilement votre <strong>cave à vin virtuelle</strong> : ajoutez, classez et partagez vos bouteilles en quelques clics.</p>
			<p>Passionné ou collectionneur, créez votre espace personnalisé et explorez de nouvelles références.</p>
			<p>Votre cave, toujours à portée de main !</p>
		</div>
		{% if not is_granted('ROLE_USER') %}
			<div class="button_accueil">
				<a class="btn_inscription" href={{path('app_register')}}>S'inscrire</a>
				<a class="btn_login" href={{path('app_login')}}>Se connecter</a>
				{# {% else %}
					<li><a href={{path('app_logout')}}>Se déconnecter</a></li> #}
			</div>
		{% endif %}
	</section>
	<section>
		{# les 4 derniers vins ajoutés #}
		<h2>Voici les dernières entrées</h2>
		<div class="card_container">
		{% for bottle in bottles %}
			<div class="card_wrap">
				<div class="card_welcome">
					<div class="card">
						<div class="cardfront">
							<img src={{asset('images/' ~ bottle.imageName )}} alt="Bouteille de vin">
							<h3>{{bottle.name}}</h3>
							<h4>{{bottle.year}}</h4>
							<p> {% for grape in bottle.grapes %}
        							{{ grape.name }}{% if not loop.last %}, {% endif %}
   								{% endfor %}
							</p>
                        			<i class="fa-regular fa-circle-right"></i>
						</div>
							
						{# <div class="cardback">
							<p>{{bottle.description|slice(0,500)~"..."}}</p>
						</div> #}
						<div class="cardback">
						<p>{{ bottle.description|slice(0, 280) ~ (bottle.description|length > 280 ? '...' : '') }}</p>
						{% if bottle.description|length > 280 %}
							<a href="#" class="see_more">Voir plus...</a>
						{% endif %}
						</div>

					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</section>
	


{% endblock %}
