{% extends 'base.html.twig' %}

{% block linkfavicon %}
	<link rel="icon" type="image/png" href="{{asset("/img/faviconexplorer.png")}}" sizes="96x96" />
{% endblock %}

{% block title %}Catalogue{% endblock %}
{% block banner %}{% endblock %}


{% block body %}
<section>
	<div class="filters">
		<h2>Filtres</h2>
	</div>
	<article>
		<div class="container_explorer">
		{% for bottle in bottles %}
			<div class="card_description">
				<img class="card_wine" src={{asset('images/' ~ bottle.imageName )}} alt="Photographie d'une bouteille de vin">
				<div class="card_explorer">
					<h3>{{bottle.name}}</h3>
					<h4>{{bottle.year}}</h4>
					<p> {% for grape in bottle.grapes %}
							{{ grape.name }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="description_item">
					<p>{{bottle.description}}</p>
				</div>
				<button class="btn_add_cellar"><a href={{path('modify_bottle',{'id':bottle.id})}}>Ajouter ce vin dans ma Cave</a></button>

				{# <div class="btn_bloc">
				{% if app.user == bottle.user %}
					<button class="btn_modify"><a href={{path('modify_bottle',{'id':bottle.id})}}>Modifier</a></button>
					<form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_bottle',{'id': bottle.id})}}">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ bottle.id)}}">
						<button class="btn_suppr">Supprimer</button>
					</form>
				{% endif %}
				</div> #}
			</div>	
		{% endfor %}
		</div>
	</article>
</section>
{% endblock %}
