{% extends 'base.html.twig' %}

{% block title %}Création Cave{% endblock %}

{% block body %}
	<h1>{{ isModification ? "Modifier": "Ajouter"}}</h1>
	<div class="form ajout">
		{{form_start(cellarForm)}}
			{{form_widget(cellarForm)}}
			<button>{{ isModification ? "Modifier": "Ajouter"}}</button>
		{{form_end(cellarForm)}}
	</div>
{% endblock %}
