{% extends 'base.html.twig' %}

{% block title %}Création Cave{% endblock %}

{% block body %}
	<h1>{{ isModification ? "Modifier une Cave": "Ajouter une Cave"}}</h1>
		{{form_start(cellarForm)}}
			{{form_widget(cellarForm)}}
			<button class="btn_form">{{ isModification ? "Modifier": "Ajouter"}}</button>

		{{form_end(cellarForm)}}
{% endblock %}
