{% extends 'base.html.twig' %}

 {% block linkfavicon %}
	<link rel="icon" type="image/png" href="{{asset("/img/faviconmescaves.png")}}" sizes="96x96" />
{% endblock %}

{% block title %}Mes Caves{% endblock %}
{% block banner %}{% endblock %}


{% block body %}
{# Présentation des règles pour créer des caves et des vins #}
	<section id ="container_add">
		<div class="rules">
			<h1>Gérez votre cave en toute simplicité !</h1>
			<ul>
				<li><strong>1° Créez votre cave</strong> : Donnez-lui un nom et commencez à l’organiser. Vous pouvez créer plusieurs caves si vous le souhaitez !</li>
			{# création d'une cave #}
				{% if is_granted('ROLE_USER') %}
					<a class="btn_add" id="add_cellar" href={{ path ('add_cellar')}}>Créer une Cave</a>
				{% endif %}
				<li><strong>2° Ajoutez vos bouteilles</strong> : Renseignez le nom, le millésime, le cépage et plus encore.</li>
				<li><strong>3° Explorez notre catalogue</strong> : Découvrez un catalogue de vins mis à votre disposition.</li>
				<li><strong>4° Mettez à jour votre cave</strong> : Modifiez ou supprimez des bouteilles facilement.</li>
			</ul>
		</div>
		<div class="add_wine">
			<p>Accédez à votre collection où que vous soyez et profitez pleinement de votre passion du vin !</p>
		{# création d'un vin #}
			{% if is_granted('ROLE_USER') %}
				<a class="btn_add" href={{ path ('add_bottle')}}>Créer un Vin</a>
				{% else %}
				<p><em>"Veuillez vous <a href={{ path ('app_register')}}><strong>inscrire</strong></a> ou vous <a href={{ path ('app_login')}}><strong>connecter</strong></a>, pour créer une cave ou ajouter un vin. Merci !"</em></p>
			{% endif %}

		</div>
	</section>
	
{# affiche les caves créées #}
	<section id="mescaves">
		<h2>Mes caves</h2>
		<div class="selectcellar">
			<form method="get" action="{{ path('mescaves_show') }}">
				<label for="selectCellar">Choisissez une cave :</label>
				<select id="selectCellar" name="cellarId" onchange="this.form.submit()">
					{% for cellar in cellars %}
						<option value="{{ cellar.id }}" {% if selectedCellar and selectedCellar.id == cellar.id %}selected{% endif %}>
							{{ cellar.name }}
						</option>
					{% endfor %}
				</select>
			</form>
		</div>
{# Visualisation des vins de la cave de l'utilisateur #}
		<h2>Mes Vins dans la cave "{{ selectedCellar.name }}"</h2>
		<div class="container_mescaves">
			{% if bottles is empty %}
				<p>Il n'existe aucun vin dans cette cave.</p>
			{% else %}
			{# présentation des vins via des cartes #}
				{% for bottle in bottles %}
					<div class="card_complet">
						<div class="main_article">
							<img class="card_left" src="{{ asset('images/' ~ bottle.imageName) }}" alt="Photographie d'une bouteille de vin">
							<div class="card_right">
							<h3>{{ bottle.name }}</h3>
							<h4>{{ bottle.year }}</h4>
							<p>
								{% for grape in bottle.grapes %}
									{{ grape.name }}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</p>
							<p class="region_card">{{ bottle.region.name }}</p>
							</div>
						</div>
						<p class="card_description">{{ bottle.description }}</p>
						<div class="card_btn">
							<div class="btn_bloc">
								<button class="btn_modify">
									<a href="{{ path('modify_bottle', {'id': bottle.id}) }}">Modifier</a>
								</button>
								<form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_bottle', {'id': bottle.id}) }}">
									<input type="hidden" name="_method" value="delete">
									<input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ bottle.id) }}">
									<button class="btn_suppr">Supprimer</button>
								</form>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>		
	</section>

{% endblock %}
