{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	{{form_start(contactform)}}
		{{form_row(contactform.name)}}
		{{form_row(contactform.email)}}
		{{form_row(contactform.message)}}
		{{form_row(contactform.submit)}}
		<button class="btn_form">Envoyer</button>
	{{form_end(contactform)}} 
{% endblock %}
