{% extends 'base.html.twig' %}

{% block title %}Mes Caves{% endblock %}

{% block body %}
	<h1>{{ isModification ? "Modifier un vin": "Ajouter un vin"}}</h1>
	{# <div class="form ajout"> #}
		{{form_start(bottleform)}}
			{{form_widget(bottleform)}}
			<button class="btn_form">{{ isModification ? "Modifier": "Ajouter"}}</button>
		{{form_end(bottleform)}}
	{# </div> #}
{% endblock %}
