{% extends 'base.html.twig' %}

{% block title %}Mes Caves{% endblock %}

{% block body %}
	<h1>{{ isModification ? "Modifier un vin": "Créer un vin"}}</h1>
	{{form_start(bottleform)}}
			<div class="selectedcellar">
				<label for="selectedCellar">Sélectionnez une de vos caves </label>
				<select name="selectedCellar" id="selectedCellar" required>
						{% for cellar in cellars %}
				<option value="{{ cellar.id }}">{{ cellar.name }}</option>
						{% endfor %}
				</select>
			</div>
		{{form_widget(bottleform)}}
		<button class="btn_form">{{ isModification ? "Modifier": "Créer"}}</button>
	{{form_end(bottleform)}}
	
{% endblock %}
